<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/main.css">
    <title>Вакансии</title>
</head>
<body>
    <header class="header guest">
        <nav>
            <a href="/users">Список вакансий</a>
        </nav>
    </header>

    <main class="main">
        <div class="main__block main-guest">

            <div class="main__resume resume-guest">
                <h2>Junior Web-программист</h2>
                <h4>от 45 000 руб.</h4>
                <span>Требуемый опыт работы: 1 год</span>
                <span>Полная занятость, удаленная работа</span>
                <div>
                    <input type="button" value="Откликнуться">
                </div>
            </div>

            <div class="main__resume resume-guest">
                <h2>1с-программист</h2>
                <h4>от 70 000 руб.</h4>
                <span>Требуемый опыт работы: 3-5 года</span>
                <span>Полная занятость</span>
                <div>
                    <input type="button" value="Откликнуться">
                </div>
            </div>

        </div>
    </main>

    <footer class="footer footer_index">
        <div class="footer__block">
            <span>О нас</span>
            <span>Контакты</span>
        </div>
        <span>© 2023</span>
    </footer>
</body>
</html>