<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/main.css">
    <title>Пользователи</title>
</head>
<body>
    <header class="header">
        <nav>
            <a href="/users">Учетные записи</a>
            <a href="/createVacancy">Создать вакансию</a>
            <a href="/viewsResume">Просмотр резюме</a>
            <a href="/viewsVacancy">Просмотр вакансий</a>
        </nav>
        <div class="header__logout">
            <a href="/logout">Выйти</a>
        </div>
    </header>

    <main class="main">
        <div class="main__block">
            <form class="main__new-user" action="" method="post">
                <input type="text" minlength="4" name="login" placeholder="Логин" required>
                <input type="password" minlength="4" name="password" placeholder="Пароль" required>
                <select name="role" id="" required>
                    <option value="admin">admin</option>
                    <option value="worker">worker</option>
                </select>
                <input type="submit" name="button_action" value="Новая учетная запись">
            </form>

            <div class="main__users">
                <h3>Список пользователей</h3>
              <% if(data.length){ data.forEach(user => { %>
              
                <form class="main__elem-user" method="post">
                    <div class="main__user-data">
                        <input name="login" type="text" hidden value="<%=user.login%>">
                        <span>Логин: <%= user.login%></span> 
                        <span>Пароль: <%= user.password%></span>
                        <span>Роль: <%= user.role%> </span>
                        <div>
                            <input type="submit" name="button_action" value="Удалить">
                        </div>
                    </div>
                    <span>Создано: 26.02.23</span>
                </form>

                <% }) %>
                <% }else{ %>
                  <span>No data ever existed.</span>
                <% } %>
            </div>
        </div>
    </main>
</body>
</html>