<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/main.css">
    <title>Просмотр резюме</title>
</head>
<body>
    <header class="header">
        <nav>
            <a href="/users">Учетные записи</a>
            <a href="/createVacancy">Создать вакансию</a>
            <a href="/viewsResume">Просмотр резюме</a>
            <a href="/viewsVacancy">Просмотр вакансий</a>
        </nav>
        <div class="header__logout">
            <a href="">Выйти</a>
        </div>
    </header>

    <main class="main">
        <div class="main__block">

            <div class="main__resume">
                <span>По вакансии: Junior Web-программист</span>
                <span>Почта: testuser@mail.ru</span>
                <span>Телефон: 7912633212</span>
                <span>ФИО: Иванов Иван Иванович</span>
                <span id="wait">В ожидании</span>
                <div>
                    <input type="button" value="Скачать резюме">
                    <input type="button" value="Завершить">
                </div>
            </div>

            <div class="main__resume">
                <span>По вакансии: 1c-программист</span>
                <span>Почта: devfro@mail.ru</span>
                <span>Телефон: 796432123</span>
                <span>ФИО: Сидоров Семен Иванович</span>
                <span id="completed">Обработано</span>
                <div>
                    <input type="button" value="Вернуть в ожидаемое">
                </div>
            </div>

        </div>
    </main>
</body>
</html>